* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: 1.5rem;
    --head: calc(1rem + 5vw);
    --bg-color: #1DB954;
}

body {
    font-family: 'Poppins', sans-serif;;
}

.hero-section {
    min-height: 100vh;
    background: url("assets/spotify.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 1.5rem;
    color: white;
    transform: translateY(-100%);
    animation: movedown 850ms ease-in 1.2s forwards;
}

@keyframes movedown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

.navbar ul {
    list-style: none;
    font-weight: 550;
}

.navbar ul li {
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover {
    border-bottom: 2px solid white;
}

.hero-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;
    animation: slide 1.1s ease-in-out;
}

@keyframes slide{
    from{
        transform: translateX(-100%);
    }to{
        transform: translateX(0%);
    }
}

  
.hero-text a {
    color: white;
    background-color: var(--bg-color);
    font-weight: 900;
    font-size: var(--text);
    padding: 0.8rem 1rem;
    margin: 0.8rem auto;
    display: block;
    transition: opacity 250ms linear;
    text-decoration: none;
}

.hero-text a:hover {
    opacity: 0.8;
}

.hero-text h2 {
    font-size: var(--head);
    margin-left: 170px;
}

.hero-text p {
    font-size: 3rem;
}
